{% extends "principal/settings.html" %}
{% load static %}

{% block title %}Listar Produtos{% endblock title %}

{% block settings_content %}
    {% if request.user.is_superuser %}
        <div class="form-row">
            <a href="{% url "create_pedido" %}" class="btn-primary">Novo pedido</a>
        </div>
        <br>
    {% endif %}

    <h2>Lista de Pedidos</h2>
    <br>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Data do Pedido</th>
                <th>Preço Total</th>
                <th>Status</th>
                {% if request.user.is_superuser %}
                <th>Ações</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
            <tr>
                <td><a href="{% url "pedido" pedido.id %}">{{ pedido.id }}</a></td>
                <td>{{ pedido.cliente }}</td>
                <td>{{ pedido.data_pedido }}</td>
                <td>{{ pedido.preco_total }}</td>
                <td>{{ pedido.status }}</td>
        
                {% if request.user.is_superuser %}
                <td>
                    <div class="d-flex justify-content-between" style="gap: 1rem;">
                        <a href="{% url 'edit_pedido' id=pedido.id %}" class="btn btn-primary">Editar</a>
                        <form method="POST" action="{% url 'delete_pedido' pedido.id %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary color-rednger" style="background-color: #d45959;" onclick="return confirm('Tem certeza que deseja deletar este pedido?');">Deletar</button>
                        </form>
                    </div>
                </td>
                {% endif %}
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">Não há nenhum pedido cadastrado</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    
{% endblock settings_content %}
