{% extends "base/_base.html" %}

{% block title %}
Redefinição de senha enviada
{% endblock title %}

{% block content %}

    <div class="container-product">
        <div class="form-container text-left">
            <h1>Redefinição de senha enviada</h1>
            <hr>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nos te enviamos um email com instruções para configurar sua senha, se uma conta existe com o email fornecido. Você receberá a mensagem em breve. Se você não recebeu um email, por favor certifique-se que você forneceu o endereço que você está cadastrado, e verifique sua pasta de spam e tente novamente mais tarde.</p>
        </div>
    </div>

{% endblock content %}